@import "tailwindcss";


@theme {
  --color-primary: #2c3892;
  --color-primary-light: #3a47b5;
  --color-primary-dark: #1f2a6a;

  --color-accent: #f68712;
  --color-accent-light: #ff9a3c;
  --color-accent-dark: #c6660e;
}