@import "tailwindcss";

@import "uploadthing/tw/v4";

@source "../node_modules/@uploadthing/react/dist"; 

@theme {
  --color-primary: #2c3892;
  --color-primary-light: #3a47b5;
  --color-primary-dark: #1f2a6a;

  --color-accent: #f68712;
  --color-accent-light: #ff9a3c;
  --color-accent-dark: #c6660e;
}

body{
  background-color: #f8fafc;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
}
